<?xml version="1.0" encoding="utf-8"?>
<RevitAddIns>
  <AddIn Type="Application">
    <Name>CQIng Columnas y Vigas de Muros</Name>
    <Assembly>{{AssemblyPath}}</Assembly>
    <AddInId>6B1E1591-19F5-46C4-B880-35F2ED80D2EC</AddInId>
    <FullClassName>CQIng.Revit.ColumnasVigasMuros.App.RevitApplication</FullClassName>
    <VendorId>CQEI</VendorId>
    <VendorDescription>CQEING</VendorDescription>
  </AddIn>
</RevitAddIns>
